<h1>New User</h1>

<% if false %>
<%= render 'form', user: @user %>
<% end %>


<%= form_with(model: @user) do |form| %>
  <p><%= form.text_field :name, placeholder: "User Name" %></p>
  <p><%= form.date_select :birthday %>
  <%= form.fields_for :email_addresses do |s| %>
    <%= s.label :email %>
    <%= s.text_field :email %>
  <% end %>
  <p><%= form.submit 'Create User' %></p>
<% end %>


<%= link_to 'Back', users_path %>
