<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @user.birthday %>
</p>

<h2><%= @user.name %> Has the following email addresses</h2>

<% @user.email_addresses.each do |email_address| %>
  <%= link_to email_address.email, email_address_path(email_address) %>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
